.header-bg {
    background-color: #ffffff;
    width: 100%;
}

@media (max-width: 810px) {
    .header-bg {
        position: fixed;
        z-index: 10;
    }

    .header a > img {
        width: 100px;
        height: 56px;
    }
}

.header {
    display: grid;
    justify-items: center;
    padding-top: 10px;
}

.nav-list ul {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.nav-list li {
    flex-direction: row;
    font-size: 21px;
    font-weight: bolder;
    text-transform: uppercase;
    padding-top: 30px;
}

.nav-list li a:hover {
    text-decoration: underline;
}

@media (max-width: 930px) {
    .nav-list ul {
        padding-top: 20px;
        gap: 20px;
    }

    .nav-list li {
        font-size: 16px;
        padding-top: 0px;
    }
}

@media (max-width: 810px) {
    .nav-list ul {
        padding-top: 5px;
        padding-bottom: 10px;
        gap: 5px;
    }

    .nav-list li a {
        font-size: 10px;
        background-color: rgb(255, 255, 255);
        padding: 10px 16px;
        border-radius: 4px;
        transition: .2s;
    }

    .nav-list li a:hover {
        text-decoration: none;
        box-shadow: 0px 0px 0px 1px rgb(0, 255, 42),
        0px 0px 2px 2px rgb(255, 0, 221);
    }
}

@media (max-width: 740px) {
    .nav-list ul {
        flex-wrap: wrap;
    }
}
