body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.container {
    max-width: 1200px;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

.container2 {
    max-width: 840px;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

.botao {
    margin: 0 auto;
    max-width: 80px;
    background-color: rgb(255, 255, 255);
    padding: 8px 24px;
    border-radius: 8px 2px;
    text-align: center;
    text-transform: uppercase;
    border: 1px solid rgb(204, 204, 204);
    transition: .3s;
    font-weight: bold;
    color: rgb(71, 71, 71);
}

.botao:hover {
    box-shadow: 0px 0px 0px 1px rgb(0, 255, 42),
    0px 0px 2px 2px rgb(255, 0, 221);
}