h1, h2, h3, h4, ul, p{
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    display: block;
    text-decoration: none;
    color: #000000;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}